@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Inter', sans-serif;
}

* {
  scrollbar-color: var(--ui-bg-accented) transparent;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}

.divide-dimmed {
  @apply divide-neutral-100 dark:divide-white/5;
}

.border-dimmed {
  @apply border-neutral-100 dark:border-white/5;
}

.outline-dimmed {
  @apply outline-neutral-100 dark:outline-white/5;
}

:root {
  --ui-primary: black;
  --ui-radius: 0.375rem;
  --ui-header-height: calc(var(--spacing) * 14);
  --ui-warning: var(--ui-color-warning-600);
  --ui-success: var(--ui-color-success-600);
}

.dark {
  --ui-primary: white;
  --ui-warning: var(--ui-color-warning-400);
  --ui-success: var(--ui-color-success-400);
}
